<div class="topbar-left">
    {#<a href="index.html" class="logo"><i class="mdi mdi-layers"></i></a>#}
    <!-- Image logo -->
    <a href="{{ path('casoListar') }}" class="logo">
        <span>
        <img src="publicImages/mercurio250.png" alt="" height="70">
        </span>
        <i>
            <img src="publicImages/mercurioicon100.png" alt="" height="50">
        </i>
    </a>
</div>